@model Project.Models.Database.CatVideo

@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>
        Cập nhật danh mục Video

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cập nhật chủ đề</a></li>

    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ArticleCat
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.ID)
                                <div class="row">
                                    <div class="col-lg-12">
                                        @Html.ValidationSummary(true)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>Tên danh mục</label>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control Changetitle" })
                                                    <span class="err">@Html.ValidationMessageFor(model => model.Name)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>Danh mục cha</label>
                                                <div class="form-group">
                                                    @Html.DropDownList("ParentID", null, "---Danh mục gốc---", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ParentID)

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>SEO Description</label>
                                                <div class="form-group">
                                                    @Html.TextAreaFor(model => model.MetaDescriptions, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MetaDescriptions)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Cập nhật" class="btn btn-default" />
                                            @Html.ActionLink("Trở về danh sách", "Index")
                                        </div>
                                    </div>

                                    <div class="col-lg-6">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>Alias</label>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control slug" })
                                                    <span class="err">@Html.ValidationMessageFor(model => model.MetaTitle)</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Trạng thái: </label>
                                                    <div class="checkbox-inline">
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.Status, new { @checked = "checked" }) Hiển thị
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>Thứ tự</label>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control" })
                                                    <span class="err">@Html.ValidationMessageFor(model => model.DisplayOrder)</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>SEO Keyword</label>
                                                <div class="form-group">
                                                    @Html.TextAreaFor(model => model.MetaKeywords, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MetaKeywords)
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            }
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->

            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
